<section class = "container-section">
     <div class = "notification-title-update">
         <%= request_post_update.title + ":" %>
     </div>
         <%= render inline: request_post_update.text %>
         <% if(requester_has_post(request_post_update.request_post_id)) %>
              <%= link_to "<delete>", request_post_update, method: :delete %>
         <% end %>
</section>