<div class = "notification-update">
     <div class = "notification-title-update">
         <%= request_post_update.title + ":" %>
     </div>
         <%= render inline: request_post_update.text %>
         <% if((cuser = current_request_user) != nil && cuser.request_posts.find(request_post_update.request_post_id) != nil) %>
              <%= link_to "<delete>", request_post_update, method: :delete %>
         <% end %>
</div>