<center>
    <h1>
        Welcome to Voluntr.io
    </h1>
</center>
<p1>
    <%= link_to "Looking for volunteers? Sign up here.", reqsignup_path %>
    <%= link_to "Interested in volunteering? Sign up here.", volsignup_path %>
</p1>