<div class = "notification">
     <div class = "notification-title">
         <%= notification.title %>
     </div>
         <%= render inline: notification.description %> <%= link_to "<delete>", notification, method: :delete %>
</div>