<% @request_user ||= current_user %>
<div class="stats">
  <a href="<%= followers_request_user_path(@request_user) %>">
    <strong id="followers" class="stat">
      <%= @request_user.followers.count %>
    </strong>
    followers
  </a>
</div>