<% @request_user ||= current_user %>
<div class="stats">
  <a href="<%= request_user_path %>">
    <strong id="followers" class="stat">
      <%= @request_user.followers.count %>
    </strong>
    followers
  </a>
</div>