<center>
    <h1>
    </h1>
</center>

<section class="container-section">

        Followed Events:
        <% for rels in Relationship.all.select{|x| x.follower_id == current_volunteer_user.id} %>
            <div class = "notification">
                <% jobs = RequestPost.all.select{|x| x.request_user_id == rels.followed_id} %>
                <% req_name = RequestUser.find(rels.followed_id).display_name  %>
                <h1><%= req_name %></h1>
                <% for job in jobs.take(5) %>
                      <%= job.title.truncate(25) %> -- <%= job.description.truncate(25) %> -- 
                    <%= link_to "<click me!>", job %> <br>
                <% end %>    
            </div>
        <% end %>
</section>