@import "bootstrap-sprockets";
@import "bootstrap";

// universal 
html {
    height: 100%;
}

body {
  padding-top: 60px;
  //background-color:#4b52a3;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  color:white;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

section {
  overflow: auto;
  color:black;
}

.container-section {
  margin: auto;
  background-color: #f9f9f9;
  border-style: solid;
  border-color: #2d2d2d;
  padding: 40px;
  color:black;
  box-shadow: 10px 10px 5px black;
}

.section-left {
  float: left;
  width: 50%;
  margin: 0 1.5;
  color:black;
}

.section-right {
  width: 50%;
  margin: 0 1.5;
  float: right;
  color:black;
}

.topcorner{
  position: absolute;
  top:90px;
  right:285px;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.container-body {
  overflow: auto;
  margin: auto;
  width: 75%;
  padding: 25px;
  overflow: auto;
}

// checkboxes

.checkbox_container {
  display: inline-block;
  vertical-align: -1px;
  margin: 5px;
}

.checkbox_container input {
  display: inline;
}

.checkbox_container .collection_check_boxes {
  display: inline;
  vertical-align: -5px;
}

// footer

.footer {
  vertical-align: middle;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #33bbff;
  text-align: center;
}

.footer-button {
  a {
    color: #ffffff;
  }
  font-size: 10px;
  display: inline;
  padding: 10px;
  margin: 5px;
  background-color: #66ccff;
  vertical-align: middle;
  
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


// miscellaneous

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


// forms

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
  width: 20%;
}

checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


// notifications 

.notification {
  padding: 15px;
  margin: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #c0c0c0;
}

.notification-title {
  padding: 5px;
  font-size: 22px;
  font-style: oblique;
}

.notification-update {
  font-size: 12px;
  padding: 15px;
  margin-left: 80px;
  margin-right: 80px;
  border-style: solid;
  border-width: 1px;
  border-color: #c0c0c0;
}

.notification-title-update {
  display: inline-block;
  padding: 5px;
  font-size: 16px;
  font-style: oblique;
}

.updates {
  padding: 10px;
  margin: 10px auto;
  border-style: solid;
  border-color: #c0c0c0;
  width: 65%;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

//following

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.follow-button {
  text-transform: uppercase;
  border-color: #4090db;
  color: #4090db;
  margin-left: 20px;
  &:visited, &:focus, &:hover {
    border-color: #2D6396;
    color: #2D6396;
  }
}

.unfollow-button {
  text-transform: uppercase;
  border-color: #66bd2b;
  background-color: #66bd2b;
  color: white;
  margin-left: 20px;
  &:visited, &:focus, &:hover {
    border-color: #47821F;
    background-color: #47821F;
    color: white;
  }
}

/*Link Boxes 

a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: green;
    color: white;
}

*/

//Data Table for Availability

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

 td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

 tr:nth-child(even){background-color: #f2f2f2;}

 tr:hover {background-color: #ddd;}

 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #35468c;
    color: white;
}

.table-scorecard {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    th{
      width:50%;
      background-color: #7e4ba3;
    }
}





//



/* Experimental (Tillett)


html {
  height: 100%;
  overflow: hidden;
}
body {
  color: #fff;
  margin:0;
  padding:0;
	-webkit-perspective: 1px;
	perspective: 1px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
header {
  box-sizing: border-box;
  min-height: 40vw;
  padding: 30vw 0 5vw;
  position: relative;
  -webkit-transform-style: inherit;
  transform-style: inherit;
  width: 100vw;
}
header, header:before {
  background: 50% 50% / cover;
}
header::before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
	display: block;
	background-color: #8a8;
  background-image: url(https://2.bp.blogspot.com/-SF2KDCp_Hmk/V2B59E-rViI/AAAAAAAANz8/QvUXPTv5Vf0XHTSbcirHxn8XnJwdQuK6QCLcB/s1600/volunteer.png);
  background-size: cover;
  -webkit-transform-origin: center center 0;
  -webkit-transform: translateZ(-1px) scale(2);
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}
header * {
  font-weight: normal;
  letter-spacing: 0.2em;
  text-align: center;
  margin: 0;
	padding: 1em 0;
}
header p {
  background-color: hsla(0, 0%, 100%,0.1);
}
main {
  background-color: hsl(60, 10%, 10%);
  line-height: 1.7;
  max-width: 32em;
  padding: 5% calc(50% - 16em) 35%;
  position: relative;
  z-index: 2;
}
*/