@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

.container-section{
    margin:auto;
    background-color: #f7f7f7;
    border-style: solid;
    border-color: #c0c0c0;
    padding:40px;
}

.section-left {
    float:left;
    width:50%;
    margin:0 1.5;
}

.section-right {
    width:50%;
    margin:0 1.5;
    float:right;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.container-body{
    margin: auto;
    width: 75%;
    padding: 25px;
    overflow:auto;
}

// checkboxes

.checkbox_container {
  display: inline-block;
  vertical-align: -1px;
  margin: 5px;
 }
.checkbox_container input {
  display: inline;
 }
.checkbox_container .collection_check_boxes{
  display: inline;
  vertical-align: -5px;
 }

// footer

.footer {
  vertical-align: middle;
  position: bottom;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #33bbff;
  text-align: center;
}

.footer-button {
    a{
        color: #ffffff;
    }
    font-size: 10px;
    display: inline;
    padding: 10px;
    margin: 5px;
    background-color: #66ccff;
    vertical-align: middle;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
  
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* notifications */

.notification{
  padding: 15px;
  margin: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #c0c0c0;
}

.notification-title {
  padding: 5px;
  font-size: 22px;
  font-style: oblique;
}

.notification-update{
  font-size: 12px;
  padding: 15px;
  margin: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #c0c0c0;
}

.notification-title-update {
  display: inline-block;
  padding: 5px;
  font-size: 16px;
  font-style: oblique;
}


.updates {
  padding: 10px;
  margin: 10px auto;
  border-style: solid;
  border-color: #c0c0c0;
  width: 65%;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
