<footer class="navbar navbar-fixed-bottom navbar-inverse">
    <div class = "footer-button">
        <%= link_to "Voluntr.io", home_url %>
    </div>
    <div class="footer-button">
        <%= link_to "About", about_path %>
    </div>
    <div class="footer-button">
        <%= link_to "FAQ", faq_path %>
    </div>
</footer>